<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Agenda</title>
    </head>
    <body>
        <pre id="buffer"></pre>
        <br>

        <input type="text" id="input"/>
        <input type="button" id="submit" value="Envoyer !!!!!"/>

        <script src="jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('127.0.0.1:8080');
            socket.on('message', function (message) {
                $('#buffer').append(message);
            });

            $('pre').on('click', 'button', function () {
                socket.emit('input', $(this).val())
            });


            $('#submit').click(function() {
                socket.emit('input', $('#input').val().toString());
            });


        </script>
    </body>
</html>